{% load static %} {% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Employee</h4>
        <form class="form" class="form-inline ">
            {% csrf_token %} {{form.as_p}}
            <div class="form-group ">
                <label for="name ">Name</label>
                <input type="text " name="name " class="form-control " placeholder="Enter Name ">
                <label for="email ">Email</label>
                <input type="text " name="email " class="form-control " placeholder="Enter Email ">
                <select multiple="multiple " name="services " id="services " size="5 ">
                {% for skill in skills %}
                    <option value="{{skill.id}} ">{{skill}}</option>
                {% endfor %}
               <label for=roll>Roll</label>
               <select id="roll " name="roll ">
                <option value="Developer ">Developer</option>
                <option value="Tester ">Tester</option>                                      
             </select>
                <input type="submit " class="btn btn-success " value="Add ">
            </div>


        </form>
    </div>
</div>
{% endblock content %}