{% load static %}
<!DOCTYPE html>
<html lang="en">
<heade>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width,
        initial-scale=1.0">
    <title>Employee Details</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</heade>

<body>
    <script src="{% static 'entoll/js/jquery.js' %}"></script>
    <script src="{% static 'entoll/js/popper.js' %}"></script>
    <script src="{% static 'entoll/js/bootstrap.min.js' %}"></script>
    {% include "enroll/ajax.html" %}
    <div class="container mt-5">
        <h2 class="text-center alter alter-danger"> Employee Delatils </h2>
        {% block content %}
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-info">Add New Employee</h4>
                <form class="form class= form-inline ">
                    {% csrf_token %}
                    <div class="form-group ">
                        <label for="name ">Name</label>
                        <input type="text " name="name " id="name" class="form-control " placeholder="Enter Name "><br>
                        <label for="email ">Email</label>
                        <input type="text " name="email " id="email" class="form-control " placeholder="Enter Email "><br>
                        <select class="form-select " multiple="multiple " name="services " id="skill " size="5 ">
                        {% for skill in skills %}
                            <option value="{{skill.id}} ">{{skill}}</option>
                        {% endfor %}
                       </select><br>
                        <label for=roll>Roll</label>
                        <select class="form-select " id="roll " name="roll ">
                        <option value="developer ">Developer</option>
                        <option value="tester ">Tester</option>
                        </select>
                        <br><br>

                        <input type="button" id="btnsave" class="btn btn-success" value="ADD" />
                    </div>


                </form>
            </div>
            <div class="col-sm-7">
                <h4 class="text-center alert alert-info">Show Employee Details</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Skill</th>
                            <th scope="col">Roll</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in em %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.email}}</td>
                            <td>{{e.skill}}</td>
                            <td>{{e.roll}}</td>
                            <td>
                                <input type="button" data-sid="{{st.id}}" class="btn btn-warning btn-sm" value="Edit" />
                                <input type="button" data-sid="{{st.id}}" class="btn btn-danger btn-sm" value="Delete" />
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock content %}
    </div>




</body>

</html>