<!DOCTYPE html> {% load static %}
<html lang="en">
<heade>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width,
        initial-scale=1.0">
    <title>Employee Details</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</heade>

<body>
    <div class="container mt-5">
        <h2 class="text-center alter alter-danger"> Employee Delatils </h2>
        {% block content %} {% endblock content %}
    </div>



    <script src="{% static 'entoll/js/jquery.js' %}"></script>
    <script src="{% static 'entoll/js/popper.js' %}"></script>
    <script src="{% static 'entoll/js/bootstrap.js' %}"></script>
</body>

</html>